<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learn VUE</title>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <div v-if="showBooks">
      <ul>
        <li v-for="book in books" :class="{ fav: book.isFav}" @click="toggleFav(book)">
          <img :src="book.img" v-bind:alt="book.title">
          <h3>{{ book.title }}</h3>
          <p>{{ book.author }}</p>
        </li>
      </ul>
    </div>
  </div>
    <script src="app.js"></script>
</body>
</html>